<h1>Edycja przedmiotu</h1>
<%= form_for :lecture, url: lecture_path(@lecture), method: :patch do |f| %>

<% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpiła następująca liczba błędów: <%=@lecture.errors.count%></h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<p>
	<%= f.label :"Nazwa przedmiotu" %><br>
	<%= f.text_field :name %>
<p>

<p>
	<%= f.label :"Rok" %><br>
	<%= f.number_field :year, value:Time.now.year %>
</p>

<p>
	<%= f.label:"Semestr" %><br>
	<%= f.select :semester, [['Zimowy','Z'],['Letni','L']] %>
</p>

<p>
	<%= f.submit :"Zapisz zmiany"%><br>
</p>
 
<% end %>
