<% content_for :title do %>
  Edycja przedmiotu
<% end %>

<%= form_for :lecture, url: lecture_path(@lecture), method: :patch do |f| %>

<% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpiła następująca liczba błędów: <%=@lecture.errors.count%></h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class=form>

<div class="field">
  <%= f.label :"Nazwa przedmiotu: " %>
  <%= f.text_field :name %>
</div>

<div class="field number">
  <%= f.label :"Rok: " %>
  <div><%= f.text_field :year, value:Time.now.year  %>
  <span class="plus"></span><span class="minus"></span></div>
</div>
<div></div>
<div class="field">
  <%= f.label:"Semestr: " %>
  <div>
  <div class="selector">
  <div class="styled_select">
  <%= f.select :semester, [['Zimowy','Z'],['Letni','L']] %>
  </div>
  </div>
  </div>
  <span id="width_tmp"></span>
</div>
  <% content_for :links do %>
    <div class="actions">
      <%= f.submit 'Dodaj', :class => 'button right' %>
    </div>
  <% end %>

</div>
<% end %>

<% content_for :links do %>
  <%= link_to 'Powrót', lectures_path, { :class=>"button right" } %>
<% end %>