<% content_for :title do %>
  Lista przedmiotow
<% end %>
 
<table>
  <tr>
    <th>Przedmiot</th>
    <th>Rok</th>
	  <th>Semestr</th>

  </tr>
 
  <% @all_lectures.each do |lecture| %>
    <tr>
      <td><%= lecture.name %></td>
      <td><%= lecture.year %></td>
	    <td><%=
          if lecture.semester =='Z'
            'Zimowy'
          else
            'Letni'
          end
      %></td>
      <td class="link"><%=
          if lecture.score_archives_children? == false
            link_to 'Ankiety', specific_surveys_path(:id => lecture.id), { :class=>"goto" }
          end 
      %></td>
	    <td class="link"><%=
          if lecture.surveys_children? == false and lecture.score_archives_children? == false
            link_to 'Edytuj', edit_lecture_path(lecture), { :class=>"goto" }
          end 
      %></td>
	    <td class="link"><%= 
          if lecture.surveys_children? == false and lecture.score_archives_children? == false
            link_to 'Usuń', delete_lecture_path(lecture),
              method: :delete,
              data: { confirm: 'Czy na pewno chcesz usunac ten przedmiot?' },
              class: "delete" 
          end 
      %></td>          
    </tr>
  <% end %>
</table>

<% content_for :links do %>
  <%= link_to 'Dodaj nowy przedmiot', new_lectures_path, { :class=>"button right" } %>
<% end %>