<% content_for :title do %>
  Nowy przedmiot
<% end %>

<%= form_for :lecture, url: lectures_path do |f| %>

<% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2>Wystąpiła następująca liczba błędów: <%=@lecture.errors.count%></h2>

      <ul>
      <% @lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class=form>

<div class="field">
	<%= f.label :"Nazwa przedmiotu: " %>
	<%= f.text_field :name %>
</div>

<div class="field number">
	<%= f.label :"Rok: " %>
	<div><%= f.text_field :year, value:Time.now.year  %>
  <span class="plus"></span><span class="minus"></span></div>
</div>
<div class="field">
	<%= f.label:"Semestr: " %>
  <div>
  <div class="selector">
  <div class="styled_select">
	<%= f.select :semester, [['Zimowy','Z'],['Letni','L']] %>
  </div>
  </div>
  </div>
  <span id="width_tmp"></span>
</div>
    <div class="actions hidden">
      <%= f.submit 'Dodaj', :id => 'sumbit_form', :class => 'hidden' %>
    </div>
</div>
  
<% end %>


<% content_for :links do %>
  <label for="sumbit_form" class="button right">Dodaj</label>
  <%= link_to 'Powrót', lectures_path, { :class=>"button right" } %>
<% end %>