<head>
  <title>eAnkieta</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "mobile-device.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="score">
<p style="color:red"><%= params[:me] %></p>
<p style="color:green"><%= params[:ms] %></p>


<%= form_for :survey, :url => new_score_post_path do |f| %>

    <p>
    <%= f.label :TOKEN %><br>
    <%= f.text_field :token %>
  </p>
  
  <p>
    <%= f.submit :"Przejdź do ankiety" %>
  </p>
<% end %>

</form>

</div>



