<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
     <h2>Wystąpiła następująca liczba błędów: <%=@survey.errors.count%></h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :data_zajęć %><br>
    <%= f.date_select :start_date %><br>
    <%= f.time_select :start_date, :ignore_date => true %>
  </div>
  
  <div class="field">
	<%= f.label :HIDDEN_end_date %><br>
    <%= f.date_select :end_date %><br>
    <%= f.time_select :end_date, :ignore_date => true %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
