<p id="notice"><%= notice %></p>

<p>
  <strong>Id lecture:</strong>
  <%= @survey.id_lecture %>
</p>

<p>
  <strong>Token:</strong>
  <%= @survey.token %>
</p>

<p>
  <strong>Year:</strong>
  <%= @survey.year %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @survey.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @survey.end_date %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
