<!DOCTYPE html>
<html>
<head>
  <title>eAnkieta</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "mobile-device.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render_navigation %>

<%= yield %>

</body>
</html>
