<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "user", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="nav">
  		<%= render_navigation %>
	</div>


	<div class="content">
  		<div class="container">
    		<div class="title">
      			<h2><%= yield :title %></h2>
    		</div>

    		<div class="inner_content">
    			<%= yield :selectors %>
    			<div class="data">
    				<%= yield %>
    			</div>
    		</div>
    		<div class="footer">
   				<%= yield :links %></h2>
      		</div>
    	</div>
    </div>
</body>
</html>