<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "user", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="limiter">
	<div id="nav">
  		<%= render_navigation %>
	</div>
	
	<!--
	<div id="user_nav">
		<% if current_user %>
		Zalogowano jako <%= current_user.index %>
			<%= link_to "Wyloguj się", log_out_path %>
		<% else %>
			<%= link_to "Zarejestruj się", sign_up_path %> lub 
			<%= link_to "zaloguj się", log_in_path %>
		<% end %>
	</div>
	-->
	<div class="content">
  		<div class="container">
    		<div class="title">
      			<h2><%= yield :title %></h2>
    		</div>

    		<div class="inner_content">
    			<%= yield :selectors %>
    			<div class="data">
    				<%= yield %>
    			</div>
    		</div>
    		<div class="footer">
   				<%= yield :links %>
      		</div>
    	</div>
    </div>
</div>
</body>
</html>